
<h1 class="text-white bg-primary p-4 text-center">
  Currency checker
</h1>

<!-- <p *ngFor="let cur of current">
{{cur|json}}
</p> -->
<div class="container">
  <div class="row">
<div class="col-md-6">
  <div class="form-group">
    <select class="form-control" [(ngModel)]="basecurrency">
      <option [value]="cur" *ngFor="let cur of current" class="form-control">{{cur}}</option>
    </select>
    <input type="text" class="form-control" [(ngModel)]="amount">
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <select class="form-control" [(ngModel)]="tragetcurrency">
      <option [value]="cur" *ngFor="let cur of current" class="form-control">{{cur}}</option>
    </select>
    <input type="text" class="form-control" [(ngModel)]="result">
  </div>
</div>
<button class="btn btn-primary" type="button" (click)="onconvert()">Convert</button>
  </div>
</div>