/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.img{
    background-image: url("https://images.unsplash.com/photo-1607623198457-7aad066a4ade?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGN1cnJlbmN5fGVufDB8fDB8fHww");
   object-fit: cover;
   height: 100%;
   width: 100%;


}